body {
    background-color       : #000;
    font-family            : 'Roboto', 'Proxima Nova', 'Helvetica Neue' !important;
    overflow               : hidden;
    color                  : #9290A2;
    -webkit-font-smoothing : subpixel-antialiased;
    font-smoothing         : subpixel-antialiased;
}

a {
    text-decoration : none;
    color           : #673AB7; 
}

img {
    max-width : 100%;
    height    : auto; 
}

.content {
    height            : 1016px;
    width             : 646px;
    background-repeat : no-repeat;
    background-size   : contain;
    margin            : 0 auto;
    background-image  : url(../assets/arcade-cabinet.jpg);
}

.content h1, .content h2 {
    width      : 100%;
    text-align : center;
    margin     : 0;
}

canvas {
      margin : 240px 0 0 150px;  
}

#game-over {
    color   : #B00;
    display : none;
}

#you-win {
    color   : #090;
    display : none;
}